celery==5.4.0
celery[sqlalchemy]
redis==5.2.1
fastapi==0.115.6
uvicorn==0.34.0
flower==2.0.1
pydantic==2.10.5
sqlalchemy==2.0.39
psycopg2-binary==2.9.10
python-dotenv==1.1.0
pandas==2.2.3
pymupdf==1.25.5
numpy==2.2.4
matplotlib==3.10.1
httpx==0.28.1
minio==7.2.15
boto3==1.37.26
chardet